.banner {
  background-image: url(../../images/background.png);
  padding: 231px 0px;
  background-size: cover;
  background-position: ;
}

.banner h1 {
  font-size: 50px;
  margin-left: 450px;
}

.banner h2 {
  font-size: lighter;
  margin-left: 450px;
  margin-top: 0px;
  opacity: ;
}


























